.recipe {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.recipe h3{
    font-size: 2em;
}

.recipe li{
    font-size: 1.5em;
}

.recipe p {
    font-size: 1.5em;
}